name: Release

on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    env:
      GOFLAGS: -mod=readonly

    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Release
        uses: goreleaser/goreleaser-action@v2
        with:
          version: v0.146.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
